/* color {
    dark: #3f0081 
    medium: #4b3987
    light: #6e61ab
}*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  color: #333;
  font-weight: 400;
  line-height: 1.4;
  padding: 20px;
  color: #fff;
}

.header {
  height: 95vh;
  background: linear-gradient(rgb(72, 0, 72, 0.8), rgba(72, 140, 192, 0.8))
    url("../images/hero.jpg");
  background: linear-gradient(rgb(72, 0, 72, 0.8), rgba(72, 136, 192, 0.8)),
    url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
  position: relative;
  text-align: center;
}

.logo-container {
  position: absolute;
  top: 40px;
  left: 50px;
}

.logo {
  height: 45px;
  cursor: pointer;
  animation: rotate 1s ease-out; /* animation-name, duration, timing-function */
}

.logo-container:hover {
  animation: rotate 1s ease-out;
}

.heading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-align: center;
}

.main-heading {
  font-size: 3em;
  display: block;
  letter-spacing: 0.5em;
  animation-name: animateLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.sub-heading {
  display: block;
  letter-spacing: 0.1em;
  animation-name: animateRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.btn:link,
.btn:visited {
  background-color: #fff;
  display: inline-block;
  margin-top: 30px;
  padding: 1em 2em;
  text-decoration: none;
  color: rgb(63, 81, 105);
  font-weight: 600;
  transition: all 0.2s;
  position: relative;
  animation: btnUp 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.btn:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.btn:active {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-1px);
}

.btn::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: -1;
  transition: all 0.4s;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

/* Start of keyframes */

@keyframes animateLeft {
  0% {
    opacity: 0;
    transform: translate(-100px);
  }

  80% {
    transform: translate(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes animateRight {
  0% {
    opacity: 0;
    transform: translate(100px);
  }

  80% {
    transform: translate(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes btnUp {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
