*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Changing the default font size to use rem unit */
html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.4;
  padding: 1rem;
  color: #fff;
}

.header {
  height: 95vh;
  background: linear-gradient(rgba(#716d89, 0.6), rgba(#00d2ff, 0.6)),
    url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
  position: relative;
  text-align: center;

  &__logo-container {
    position: absolute;
    top: 4rem;
    left: 5rem;
    transition: all 0.7s ease-out;

    &:hover {
      transform: rotate(360deg);
    }
  }

  &__logo {
    height: 4.5rem;
    cursor: pointer;
  }
}

.heading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: capitalize;
  font-weight: 600;

  .main--heading {
    font-size: 8rem;
    display: block;
    letter-spacing: 5rem;
    animation-name: animateLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  .sub--heading {
    font-size: 3rem;
    display: block;
    letter-spacing: 0.5rem;
    animation-name: animateRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
}

.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 1.7rem;
  margin-top: 3rem;
  padding: 1rem 2rem;
  text-decoration: none;
  color: rgb(63, 81, 105);
  transition: all 0.2s;
  position: relative;

  &:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    transform: translateY(-0.2rem);
  }

  &:active {
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
    transform: translateY(-0.1rem);
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: -1;
    transition: all 0.4s;
  }

  &:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
}

.btn--white {
  background-color: #fff;
}

.btn--animated {
  animation: btnUp 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

/* Start of keyframes */

@keyframes animateLeft {
  0% {
    opacity: 0;
    transform: translate(-10rem);
  }

  80% {
    transform: translate(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes animateRight {
  0% {
    opacity: 0;
    transform: translate(10rem);
  }

  80% {
    transform: translate(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes btnUp {
  0% {
    transform: translateY(3rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
