*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Changing the default font size to use rem unit */
html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.4;
  padding: 1rem;
  color: #fff;
}

.header {
  height: 95vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(113, 109, 137, 0.6)), to(rgba(0, 210, 255, 0.6))), url("../images/hero.jpg");
  background: linear-gradient(rgba(113, 109, 137, 0.6), rgba(0, 210, 255, 0.6)), url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
          clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
  position: relative;
  text-align: center;
}

.header__logo-container {
  position: absolute;
  top: 4rem;
  left: 5rem;
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}

.header__logo-container:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.header__logo {
  height: 4.5rem;
  cursor: pointer;
}

.heading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: capitalize;
  font-weight: 600;
}

.heading-container .main--heading {
  font-size: 8rem;
  display: block;
  letter-spacing: 5rem;
  -webkit-animation-name: animateLeft;
          animation-name: animateLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.heading-container .sub--heading {
  font-size: 3rem;
  display: block;
  letter-spacing: 0.5rem;
  -webkit-animation-name: animateRight;
          animation-name: animateRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.btn:link, .btn:visited {
  display: inline-block;
  font-size: 1.7rem;
  margin-top: 3rem;
  padding: 1rem 2rem;
  text-decoration: none;
  color: #3f5169;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
}

.btn--white {
  background-color: #fff;
}

.btn--animated {
  -webkit-animation: btnUp 0.5s ease-out 0.75s;
          animation: btnUp 0.5s ease-out 0.75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.btn:hover {
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
}

.btn:active {
  -webkit-box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
}

.btn::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

/* Start of keyframes */
@-webkit-keyframes animateLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate(-10rem);
            transform: translate(-10rem);
  }
  80% {
    -webkit-transform: translate(1rem);
            transform: translate(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes animateLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate(-10rem);
            transform: translate(-10rem);
  }
  80% {
    -webkit-transform: translate(1rem);
            transform: translate(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes animateRight {
  0% {
    opacity: 0;
    -webkit-transform: translate(10rem);
            transform: translate(10rem);
  }
  80% {
    -webkit-transform: translate(-1rem);
            transform: translate(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes animateRight {
  0% {
    opacity: 0;
    -webkit-transform: translate(10rem);
            transform: translate(10rem);
  }
  80% {
    -webkit-transform: translate(-1rem);
            transform: translate(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes btnUp {
  0% {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes btnUp {
  0% {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=styles.css.map */